@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

.profile-container {
  background: #f8f1e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover {
  background: #7a1818;
  color: #fff;
}

button {
  background: #b44a4a;
  color: #3a2323;
  border: none;
  border-radius: 30px;
  padding: 15px 0;
  width: 350px;
  max-width: 80vw;
  font-size: 1.3rem;
  cursor: pointer;
  margin-bottom: 30px;
  transition: background 0.2s;
}